* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color0);
}



/* -------------------- bootstrap ----------------------- */


:root {
    --color0: #83c0ce;
    --color1: #5595a5;
    --color2: #215964;
    --color3: #a49092;
    --color4: #be814c;
    --color5: #be814c;
}

/* --------------------- nav ---------------------------- */

.navbar {
    background-color: var(--color2); 
}

/* --------------------- nav ---------------------------- */


/* -------------------jumbotron-------------------------- */

.jumbotron {
    background-image: url(../multimedia/images/fondo.jpg);
    background-size: cover;
    height: 300px;
    color: #fff;
    text-shadow: 0 0 10px #333;
    border-radius: 0;
    margin: 0;
}

/* -------------------jumbotron-------------------------- */


/* ----------------------main---------------------------- */
.row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1px;
}
h2 {
    text-align: center;
}

.nosotros {
    min-height: 300px;
    width: 100%;
    background-color: var(--color4);
    background-image: url(../multimedia/images/wave-haikei.svg), url(../multimedia/images/fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.m-nosotros {
    width: 40%;
    height: 100%;
    padding: 1px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.m-nosotros h3 {
    color: var(--color4);
    text-transform: uppercase;
}

.m-nosotros p {
    color: white;
    text-shadow: 0 0 10px #333;
}

/* -------------------main galeria----------------------- */


.galeria {
    padding: 15px;
    background-color: var(--color0);
}
.imagen:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;


}

/* -------------------main galeria----------------------- */

/* ------------------main contacto -----------------------*/


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/* ------------------main contacto -----------------------*/



/* ----------------------main---------------------------- */



.productos {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.caja {
    border: 1px solid rgb(61, 61, 61);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 180px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    margin: 5px;

}

.c1 {
    background-color: coral;
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: crimson;
}

.c4 {
    background-color: cornflowerblue;
}

.c5 {
    background-color: cornsilk;
}

.c6 {
    background-color: chocolate;
}

.c7 {
    background-color: cadetblue;
}

.c8 {
    background-color: chartreuse;
}



/*------------------------- main productos -------------------------*/




/*---------------------- footer ---------------------------*/
footer {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a {
    text-decoration: none !important;
    color: var(--color5);
}

footer ul li a:hover {
    color: white;
}
/*---------------------- footer ---------------------------*/





/* -------------------- bootstrap ----------------------- */